@inherits DisplayEventsBase

@foreach (var item in Events)
{
    <div class="col-md-3 mb-2">
        <a href="/events/eventdetails/@item.Id">
            <div class="card">
                <img class="img-thumbnail" src="@item.PreviewPhotoURL">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        @item.EventName
                    </h5>
                    <p class="card-text">
                        <b> @item.dateTime.ToString("d")</b>
                    </p>
                </div>
            </div>
        </a>
    </div>
}