@page "/"
@inherits EventsBase

@if (events == null)
{
    <h3> Loading events of your story... </h3>
}
else
{
    <h3 class="mb-5"> Events </h3>

    var eventsCount = events.Count();

    @if (eventsCount > 0)
    {
        const int itemsPerRow = 4;
        var eventsRowList = new List<EventDto>();

        @for (int i = 0; i < eventsCount; i++)
        {
            eventsRowList = events.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();

            <div class="row mt-3">

                <DisplayEvents Events="@eventsRowList"></DisplayEvents>
            </div>
        }
    }
}