@page "/registration"
@inherits LoginBase

<h3>Registration</h3>


<EditForm Model="formUser" OnValidSubmit="Login">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row mb-3">
        <InputText Name="Username" @bind-Value="formUser.Name" />
        <InputText Password="Password" @bind-Value="formUser.Password" />
        <button type="submit">Let's move forward</button>
    </div>
</EditForm>