@page "/registration"
@inherits RegistraionBASE

<h3>Registration</h3>


<EditForm Model="registrationUser" OnValidSubmit="Registration">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row mb-3">
        <InputText Name="Username" @bind-Value="registrationUser.Name" />
        <InputText Password="Password" @bind-Value="registrationUser.Password" />
        <button type="submit">Let's move forward</button>
    </div>
</EditForm>