@page "/storycreator"
@inherits StoryCreatorBASE




<div class="text-center mb-5">
    <h1>Story creation</h1>
    <h3> So here you can add your story to your digital storage</h3>
</div>

<div>
    <div class="col-lg-9 mx-auto rounded border p-3">
        
        <form method="post">
            <EditForm Model="@newStory" OnValidSubmit="@Submit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row mb-3">
                    <InputText Name="StoryName" @bind-Value="newStory.Name" />
                    <a href="/@newStory.Id/events">
                    <button type="submit">Let's listen to your new fascitanting story</button>
                </a>
                </div>
            </EditForm>
        </form>
    </div>
</div>