﻿@page "/storycreator"
@inherits StoryCreatorBASE




<div class="text-center mb-5">
    <h1>Story creation</h1>
    <h3> So here you can add your story to your digital storage</h3>
</div>
<AuthorizeView>
    <Authorized>
        <div>
            <div class="col-lg-9 mx-auto rounded border p-3">
        
                <form method="post">
                    <EditForm ChildContent Model="@newStory" OnValidSubmit="@Submit" >
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="row mb-3">
                            <InputText Name="StoryName" @bind-Value="newStory.Name" />
                            <button type="submit">Let's listen to your new fascitanting story</button>
                        </div>
                    </EditForm>
                </form>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>